
    	</div><!-- end .container -->
    	<div class="navbar footer" style="max-width: 100%">
			<div style="padding-top: 10px ;" class="clear">
				<div class="left">
					<img style="padding-left: 10px ;" src="{REAL_URL}template/styles/images/footer.png"/>   Pentru ca ne plac electronicele.
				</div>

			</div>


    	</div>
    	<div id="response"></div>
    	<div id="withdraw_message"></div>
    	<!-- IF ( {USER_LOGGED} == 1 ) [check_login_chat] -->
		<div id="chat_drop"></div>
		<div id="chat_container"><iframe frameborder="0" style="height: 100% ;width: 100% ;" src="{CHAT_URL}/?user_id={USER_INFORMATION}[ID]&hash={USER_INFORMATION}[chat_session]"></iframe></div>
	

		<!-- END_IF [check_login_chat] -->
	</body>
</html>
